body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    background-image: linear-gradient(45deg,#49BCF6 , #49DEB2);
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border-style: dashed;
    border-color: #efefef;
    border-width: 10px;
    border-radius: 20px;
    margin-top: 8em;
}

h1 {
    font-size: 4em;
}

img {
    width: 200px;
    height: 210px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 20px;
}

button {
    cursor: pointer;
    background-color: #fefefe00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #efefef;
}

.result {
    margin-top: 20px;
    font-size: 40px;
}

.score {
    margin-top: 20px;
    font-size: 30px;
}